body{
	background-color: black;
	display: flex;
	flex-flow: column wrap;
}

	header{
		background-color: #5b7989;
		display: flex;
		flex-flow: row wrap;
	}

		.menu{
			background-color: orange;
		}

			.titulo{
				background-color: blue;
			}
		
			nav{
				background-color: green;
			}
		picture{
			background-color: #82c3a6;
		}
	section{
		background-color: gray;
	}
		h3{
			background-color: yellow;
		}
	footer{
		background-color: #232323;
	}
